# ---------------------------
# Python Cache Files
# ---------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# ---------------------------
# Virtual Environment
# ---------------------------
venv/
.env/

# ---------------------------
# VS Code Settings
# ---------------------------
.vscode/

# ---------------------------
# Ignore temporary output EXCEPT reports & images
# ---------------------------
# Ignore everything in outputs first
outputs/*

# But include the important report and images
!outputs/report.html
!outputs/PDF Comparison Report.pdf
!outputs/images/
!outputs/images/*

# ---------------------------
# System Files
# ---------------------------
.DS_Store
Thumbs.db
